<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Administración de Productos </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.8/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.8/datatables.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="css/bootstrapValidator.css">

    <script type="text/javascript" src="js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="js/global.js"></script>


</head>
<body>

<!-- consumir fragmento cabecera-->
<div th:insert="template/UITemplate :: cabecera5"></div>

<div class="container ">

    <div class="row form-group m-5" style="text-align: center">
        <h3>Gesti&oacute;n Productos</h3>
    </div>

    <div class="row form-group m-5">

        <div class="col-sm-3  ">
            <div class="input-group col-lg-12 ">
                <span class="input-group-text"><i class="bi bi-boxes"></i></span>
                <input
                        class="form-control input-sm" type="text"
                        id="id_txt_codigo" name="filtro" maxlength="10"
                        autocomplete="off" placeholder="Ingrese el codigo">
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="input-group  col-lg-12 ">
                <span class="input-group-text"><i class="bi bi-boxes"></i></span><input
                    class="form-control input-sm" type="text" maxlength="30"
                    id="id_txt_descripcion" name="filtro" autocomplete="off"
                    placeholder="Ingrese la descripcion">
            </div>
        </div>
        <div class="col-sm-2 col-sm-5 col-mb-3">
            <button type="button" class="btn btn-primary btn-block "
                    id="id_btn_filtrar"><i class="bi bi-search"></i> Buscar
            </button>

            <!-- Button to Open the Modal -->
            <button type="button" data-bs-toggle='modal'
                    data-bs-target="#id_div_modal_producto"
                    class='btn btn-success btn-block '><i class="bi bi-plus-square"></i> Nuevo
            </button>

        </div>

    </div>
</div>

<div class="container-fluid p-5">
    <table id="id_table" class="table  table-hover  table-bordered " style="width:100%">
    <thead class="table-dark">
        <tr>
            <th style="width: 5%">ID</th>
            <th style="width: 25%">Codigo</th>
            <th style="width: 5%">Descripcion</th>
            <th style="width: 3%">Moneda</th>
            <th style="width: 10%">Precio Total</th>
            <th style="width: 22%">Stock</th>
            <th style="width: 10%">Nro Documento</th>
            <th style="width: 10%">Tipo</th>
            <th style="width: 10%"></th>
            <th style="width: 10%"></th>
        </tr>
        </thead>
        <tbody>
        <!--<tr th:if="${productos.isEmpty()}">
            <td colspan="4">Lista Vacia</td>
        </tr>-->
        <!--<tr th:each="x:${productos}" class="table-info">
            <td th:text="${x.cod_prod}"></td>
            <td th:text="${x.tip_mone}"></td>
            <td th:text="${x.pre_prod}"></td>
            <td th:text="${x.sto_prod}"></td>
            <td th:text="${x.des_prod}"></td>
            <td th:text="${x.tip_docu}"></td>
            <td th:text="${x.doc_prod}"></td>
            <td th:text="${x.dataCatalogo.descripcion}"></td>
            <td th:text="${x.dataCatalogo.catalogo.descripcion}"></td>

            <td><a class="btn btn-info btn-editar" data-toggle="modal"
                   data-target="#modalProducto"><i class="bi bi-pencil-square"></i></a></td>
            <td><a class="btn btn-danger btn-eliminar"><i class="bi bi-trash3-fill"></i></a></td>
        </tr>-->
        </tbody>
    </table>
</div>

<!-- consumir fragmento cabecera-->
<div th:insert="template/UITemplate :: modelsProducto"></div>

<script th:src="@{../js/scriptProducto.js}">
    </script>

</body>
</html>